# Exercise 7: Clustering the fish data

Now use your standardization and clustering pipeline from the previous exercise to cluster the fish by their measurements, and then create a cross-tabulation to compare the cluster labels with the fish species.

**Step 1:** Load the dataset, extracting the species of the fish as a list `species` _(done for you)_

In [2]:
import pandas as pd

df = pd.read_csv('../datasets/fish.csv')

# remove the species from the DataFrame so only the measurements are left
species = list(df['species'])
del df['species']

**Step 2:** Build the pipeline as in the previous exercise _(filled in for you)._

In [3]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

scaler = StandardScaler()
kmeans = KMeans(n_clusters=4)
pipeline = make_pipeline(scaler, kmeans)

**Step 3:** Fit the pipeline to the fish measurements `samples`.

In [8]:
samples=df.values
model = pipeline.fit(samples)

**Step 4:** Obtain the cluster labels for `samples` by using the `.predict()` method of `pipeline`, assigning the result to `labels`.

In [9]:
labels = model.predict(samples)

**Step 5:** Using `pd.DataFrame()`, create a DataFrame `df` with two columns named `'labels'` and `'species'`, using `labels` and `species`, respectively, for the column values.

In [10]:
a = zip(species, labels)
df_l = pd.DataFrame(a, columns=['species', 'labels'])
df_l

   species  labels
0    Bream       2
1    Bream       1
2    Bream       1
3    Bream       1
4    Bream       1
..     ...     ...
80    Pike       0
81    Pike       0
82    Pike       0
83    Pike       0
84    Pike       0

[85 rows x 2 columns]

**Step 6:** Using `pd.crosstab()`, create a cross-tabulation `ct` of `df['labels']` and `df['species']`.

In [13]:
ct = pd.crosstab(df_l['species'], df_l['labels'])

**Step 7:** Display your cross-tabulation, and check out how good your clustering is!

In [14]:
ct

labels    0   1   2   3
species
Bream     0  33   1   0
Pike     17   0   0   0
Roach     0   1  19   0
Smelt     0   0   1  13