In [1]:
import requests
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen as uReq

In [3]:
searchString=str(input())
flipkart_url = "https://www.flipkart.com/search?q=" + searchString # preparing the URL to search the product on flipkart
uClient = uReq(flipkart_url) # requesting the webpage from the internet
flipkartPage = uClient.read() # reading the webpage
uClient.close() # closing the connection to the web server
flipkart_html = bs(flipkartPage, "html.parser") # parsing the webpage as HTML

 samsung

In [5]:
bigboxes = flipkart_html.findAll("div", {"class": "_2pi5LC col-12-12"}) # seacrhing for appropriate tag to redirect to the product link
del bigboxes[0:3] # the first 3 members (sidebar in webpage) of the list do not contain relevant information, hence deleting them.
box = bigboxes[0]

In [6]:
productLink = "https://www.flipkart.com" + box.div.div.div.a['href'] # extracting the actual product link
prodRes = requests.get(productLink) # getting the product page from server
prod_html = bs(prodRes.text, "html.parser") # parsing the product page as HTML
commentboxes = prod_html.find_all('div', {'class': "_16PBlm"})

In [8]:
print(productLink)

https://www.flipkart.com/samsung-galaxy-f41-fusion-blue-128-gb/p/itm4769d0667cdf9?pid=MOBFV5PWG5MGD4CF&lid=LSTMOBFV5PWG5MGD4CFZ8YQJZ&marketplace=FLIPKART&srno=s_1_1&otracker=search&fm=organic&iid=20ba5e7f-25e7-4406-ad53-6282fbc9c797.MOBFV5PWG5MGD4CF.SEARCH&ssid=uv5l4rl1hc0000001607581833917&qH=fe546279a62683de

In [11]:
reviews = [] # initializing an empty list for reviews
            #  iterating over the comment section to get the details of customer and their comments
for commentbox in commentboxes:
    try: name = commentbox.div.div.find_all('p', {'class': '_2sc7ZR _2V5EHH'})[0].text #""
    except: name = 'No Name'
        
    try: rating = commentbox.div.div.div.div.text
    except: rating = 'No Rating'
        
    try: commentHead = commentbox.div.div.div.p.text
    except: commentHead = 'No Comment Heading'
    
    try:
        comtag = commentbox.div.div.find_all('div', {'class': ''})
        custComment = comtag[0].div.text
    except: custComment = 'No Customer Comment'
    #fw.write(searchString+","+name.replace(",", ":")+","+rating + "," + commentHead.replace(",", ":") + "," + custComment.replace(",", ":") + "\n")
    mydict = {"Product": searchString, "Name": name, "Rating": rating, "CommentHead": commentHead,
              "Comment": custComment} # saving that detail to a dictionary
    # x = table.insert_one(mydict) #insertig the dictionary containing the rview comments to the collection
    reviews.append(mydict)

In [15]:
mydict

{'Product': 'samsung',
 'Name': 'No Name',
 'Rating': 'No Rating',
 'CommentHead': 'No Comment Heading',
 'Comment': 'No Customer Comment'}

In [16]:
import pandas as pd
df=pd.DataFrame(reviews)

In [28]:
df.head(50)

,Product,Name,Rating,CommentHead,Comment
0,samsung,Rajnish Kumar,5,Terrific purchase,Nice product
1,samsung,Rakesh Dutta,1,Absolute rubbish!,Mobile data is not working
2,samsung,Flipkart Customer,3,Just okay,Mobile was good but headphone not given
3,samsung,Hemant Sharma,2,Moderate,Camera quality of this camera is not good
4,samsung,Flipkart Customer,1,Terrible product,Taken 1week complete this phone sound is not c...
5,samsung,Navneet singhaniya,5,Terrific purchase,Nice
6,samsung,Kadurugutha tamasha,4,Pretty good,Good and smooth performance Nice design and va...
7,samsung,Lohith Mudholkar,4,Worth the money,Good Budget Mobile in this price range.Battery...
8,samsung,Flipkart Customer,5,Brilliant,It's camera is so clear 64 mp .Battery is too ...
9,samsung,Flipkart Customer,5,Super!,Super
10,samsung,No Name,No Rating,No Comment Heading,No Customer Comment

In [24]:
def scrape(searchString):
#     searchString=str(input())
    flipkart_url = "https://www.flipkart.com/search?q=" + searchString # preparing the URL to search the product on flipkart
    uClient = uReq(flipkart_url) # requesting the webpage from the internet
    flipkartPage = uClient.read() # reading the webpage
    uClient.close() # closing the connection to the web server
    flipkart_html = bs(flipkartPage, "html.parser") # parsing the webpage as HTML
    bigboxes = flipkart_html.findAll("div", {"class": "_2pi5LC col-12-12"}) # seacrhing for appropriate tag to redirect to the product link
    del bigboxes[0:3] # the first 3 members (sidebar in webpage) of the list do not contain relevant information, hence deleting them.
    box = bigboxes[0]
    productLink = "https://www.flipkart.com" + box.div.div.div.a['href'] # extracting the actual product link
    prodRes = requests.get(productLink) # getting the product page from server
    prod_html = bs(prodRes.text, "html.parser") # parsing the product page as HTML
    commentboxes = prod_html.find_all('div', {'class': "_16PBlm"}) 
    reviews = [] # initializing an empty list for reviews
            #  iterating over the comment section to get the details of customer and their comments
    for commentbox in commentboxes:
        try: name = commentbox.div.div.find_all('p', {'class': '_2sc7ZR _2V5EHH'})[0].text #""
        except: name = 'No Name'

        try: rating = commentbox.div.div.div.div.text
        except: rating = 'No Rating'

        try: commentHead = commentbox.div.div.div.p.text
        except: commentHead = 'No Comment Heading'

        try:
            comtag = commentbox.div.div.find_all('div', {'class': ''})
            custComment = comtag[0].div.text
        except: custComment = 'No Customer Comment'
        #fw.write(searchString+","+name.replace(",", ":")+","+rating + "," + commentHead.replace(",", ":") + "," + custComment.replace(",", ":") + "\n")
        
        mydict = {"Product": searchString, "Name": name, "Rating": rating, "CommentHead": commentHead,
                  "Comment": custComment} # saving that detail to a dictionary
        # x = table.insert_one(mydict) #insertig the dictionary containing the rview comments to the collection
        
        reviews.append(mydict)
        
        df=pd.DataFrame(reviews)
        
    return df

In [25]:
samsung_df = scrape('samsung')

In [42]:
samsung_df.head()

,Product,Name,Rating,CommentHead,Comment
0,samsung,Bijoy Saha,5,Mind-blowing purchase,Super phone must by
1,samsung,BHAIYA RANJAY KUMAR SINGH,5,Excellent,good
2,samsung,Rajnish Kumar,5,Terrific purchase,Nice product
3,samsung,Rakesh Dutta,1,Absolute rubbish!,Mobile data is not working
4,samsung,Flipkart Customer,3,Just okay,Mobile was good but headphone not given

In [29]:
iphone_df = scrape('iphone')

In [41]:
iphone_df.head()

,Product,Name,Rating,CommentHead,Comment
0,iphone,Sravan Kumar Chokkavarapu,5,Great product,"Who all loves older size i.e., 4.7 inch type s..."
1,iphone,Flipkart Customer,4,Worth the money,As always compact and handy ... with good imag...
2,iphone,Vishnuvardhan Meda,4,Wonderful,Mobile is very handy. Packed with good perform...
3,iphone,Saurabh N,4,Nice product,Let's face it. The main reason you're even con...
4,iphone,ankit paliwal,5,Best in the market!,One word.. beautiful iphone ❤️ premium feelJus...

In [47]:
# word = "can't"
# re.sub(r"[^a-zA-Z\']+",'',word)

"can't"