###  United States - Crime Rates - 1960 - 2014

In [10]:
import pandas as pd
import numpy as np

url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv'
crime = pd.read_csv(url)
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     int64
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: int64(12)
memory usage: 5.3 KB

##### *Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series.*

#### 1. Convert the type of the column Year to datatime64

In [11]:
# crime['Year'] = crime['Year'].astype('datetime64[ns]')
crime['Year'] = pd.to_datetime(crime['Year'], format='%Y')

In [12]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     datetime64[ns]
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: datetime64[ns](1), int64(11)
memory usage: 5.3 KB

In [14]:
crime.head(2)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000

#### 2. Set the Year columns as the index of the dataframe

In [15]:
crime = crime.set_index('Year', drop=True)
crime.head(2)

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000

#### 3. Delete the Total column

In [16]:
del crime['Total']
crime.head(2)

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-01-01,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000

#### 4. Group the year by decades and sum the values
##### Pay attention to the Population column number, summing this column is a mistake

In [19]:
crime = crime.resample('10AS').sum()
population = crime['Population'].resample('10AS').max()
crime['Population'] = population
crime

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-01-01,201385000,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
1970-01-01,220099000,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
1980-01-01,248239000,1646040,12605400,23040,94500,592910,951710,3795200,7872400,1564800
1990-01-01,272690813,1932270,12961100,24700,109060,687730,1135610,3157200,8142200,1661700
2000-01-01,307006550,1439480,10455277,17030,95235,447403,911706,2228474,7092267,1261226
2010-01-01,318857056,1251248,9112625,14866,85593,369089,781844,2185140,6204601,739565

#### 5. What is the most dangerous decade to live in the US?

In [20]:
# apparently the 90s was a pretty dangerous time in the US
crime.idxmax(0)

Population           2010-01-01
Violent              1990-01-01
Property             1990-01-01
Murder               1990-01-01
Forcible_Rape        1990-01-01
Robbery              1990-01-01
Aggravated_assault   1990-01-01
Burglary             1980-01-01
Larceny_Theft        1990-01-01
Vehicle_Theft        1990-01-01
dtype: datetime64[ns]