## Ex1 - Filtering and Sorting Data

In [1]:
import pandas as pd

In [5]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo_df = pd.read_csv(url, sep='\t')
chipo_df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

#### 1. Clean the ithem and transform it in a float

In [7]:
clean_item_price = [float(x[1:]) for x in chipo_df['item_price']]
print(clean_item_price[0:5])
chipo_df['item_price'] = clean_item_price
chipo_df['item_price'].head()

[2.39, 3.39, 3.39, 2.39, 16.98]

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

#### 2. Delete the duplicates in item_name and quantity

In [9]:
chipo_filtered = chipo_df.drop_duplicates(['item_name', 'quantity'])
chipo_filtered.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

#### 3. Select only the products with quatity equals 1

In [11]:
chipo_1_prod = chipo_df[chipo_df['quantity'] == 1]
chipo_1_prod.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98

#### 4. How many products costs more than $10.00?

In [16]:
(chipo_df['item_price'] > 10).sum()

1130

#### 5. What is price per item?

In [24]:
# add new column and calculate the proce per item
chipo_df['price_per_item'] = chipo_df['item_price'] / chipo_df['quantity']

In [25]:
product_prices = chipo_df.groupby('item_name').agg({'price_per_item':'max'})
product_prices.head()

                       price_per_item
item_name
6 Pack Soft Drink                6.49
Barbacoa Bowl                   11.75
Barbacoa Burrito                11.75
Barbacoa Crispy Tacos           11.75
Barbacoa Salad Bowl             11.89

In [26]:
(product_prices['price_per_item'] > 10).sum()

25

#### 5. What is the price of each item?

In [27]:
product_prices

                                       price_per_item
item_name
6 Pack Soft Drink                                6.49
Barbacoa Bowl                                   11.75
Barbacoa Burrito                                11.75
Barbacoa Crispy Tacos                           11.75
Barbacoa Salad Bowl                             11.89
Barbacoa Soft Tacos                             11.75
Bottled Water                                    1.50
Bowl                                             7.40
Burrito                                          7.40
Canned Soda                                      1.09
Canned Soft Drink                                1.25
Carnitas Bowl                                   11.75
Carnitas Burrito                                11.75
Carnitas Crispy Tacos                           11.75
Carnitas Salad                                   8.99
Carnitas Salad Bowl                             11.89
Carnitas Soft Tacos                             11.75
Chicken Bowl                                    11.25
Chicken Burrito                                 11.25
Chicken Crispy Tacos                            11.25
Chicken Salad                                   10.98
Chicken Salad Bowl                              11.25
Chicken Soft Tacos                              11.25
Chips                                            2.15
Chips and Fresh Tomato Salsa                     2.95
Chips and Guacamole                              4.45
Chips and Mild Fresh Tomato Salsa                3.00
Chips and Roasted Chili Corn Salsa               2.95
Chips and Roasted Chili-Corn Salsa               2.39
Chips and Tomatillo Green Chili Salsa            2.95
Chips and Tomatillo Red Chili Salsa              2.95
Chips and Tomatillo-Green Chili Salsa            2.39
Chips and Tomatillo-Red Chili Salsa              2.39
Crispy Tacos                                     7.40
Izze                                             3.39
Nantucket Nectar                                 3.39
Salad                                            7.40
Side of Chips                                    1.69
Steak Bowl                                      11.75
Steak Burrito                                   11.75
Steak Crispy Tacos                              11.75
Steak Salad                                      8.99
Steak Salad Bowl                                11.89
Steak Soft Tacos                                11.75
Veggie Bowl                                     11.25
Veggie Burrito                                  11.25
Veggie Crispy Tacos                              8.49
Veggie Salad                                     8.49
Veggie Salad Bowl                               11.25
Veggie Soft Tacos                               11.25

In [31]:
sort_item_name = chipo_df['item_name'].sort_values()
sort_item_name.head()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
Name: item_name, dtype: object

#### 7. What is the quatity of most expensive item ordered?

In [35]:
chipo_df['item_price'].idxmax()

3598

In [37]:
chipo_df.loc[3598, : ]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
price_per_item                                2.95
Name: 3598, dtype: object

#### 8. How many times were a Veggie Salad Bowl Ordered?

In [39]:
(chipo_df['item_name'] == 'Veggie Salad Bowl').sum()

18

#### 9. How many time people ordered more than 1 Canned Soda?

In [43]:
(chipo_df[chipo_df['item_name'] == 'Canned Soda'].quantity > 1).sum()

20

In [44]:
chipo_df[chipo_df['item_name'] == 'Canned Soda'].count()

order_id              104
quantity              104
item_name             104
choice_description    104
item_price            104
price_per_item        104
dtype: int64